body {
    background-color: rgb(0, 64, 255);
    font-family: “Georgia”;
}
h1 {
    text-align: center;
	color:white;
}

h2 {
    text-align: center;
	color:white;
}

h3 {
    text-align: center;
	color:white;
}