
<link rel="stylesheet" href="/static/dogs.css">

<h1>About this Site</h1>
<div align="center">This is a site for my SI507 final project in which I present data about some very good boys I scraped from the <a href='http://www.akc.org/dog-breeds/'>American Kennel Club website</a></div>
<br/><br/><a href='/'>Go home, good boy</a>

<!-- {% for e in entries %}
    <div class="entry">
        <p class="entrytext"> {{e['text']}} </p>
        <p class="metadata"> by {{e['author']}} on {{e['timestamp']}} </p>
    </div>
{% endfor %} -->
<!-- <div align="center">
  This is some text!
</div> -->
