
<link rel="stylesheet" href="/static/dogs.css">

<h1>Table of Contents</h1>

<div align="center">
<h1>Are you excited? I'm excited.</h1>
<h1><img src="{{ url_for('static', filename='jumping_pup.gif') }}" height=300 /></h1>
<a href='/petitepup'>See a very tiny dog</a><br/><br/>
<a href='/smollboy'>See a slightly bigger boy</a><br/><br/>
<a href='/mediummutt'>See a midsize mutt</a><br/><br/>
<a href='/largedoggo'>See a large doggo</a><br/><br/>
<a href='/biggestboy'>See a VERY BIG BOY</a><br/><br/>
<a href='/'>Go home, good boy</a>
</div>
