<link rel="stylesheet" href="/static/dogs.css">

<h1>A MEDIUM MUTT</h1>
<h1>an average sized pup with above average goodness</h1>
<div align="left"><a href='/smollboy'>Previous tour stop</a></div>
<div align="right"><a href='/largedoggo'>Next tour stop</a><br/><br/></div>

<h1><img src="{{ url_for('static', filename='airedale.gif') }}" height=300 /></h1>
{% for dog in res_list %}
<tr>
  <div align="center"><h1>{{dog[0]}}</h1></div>
</tr>
{% endfor %}
<h1><img src="{{ url_for('static', filename='airedale2.gif') }}" height=300 /></h1>

<br/><br/><a href='/contents'>Return to the Table of Dogtents</a>
<br/><br/><a href='/'>Go home, good boy</a>
<!-- rows = fetch_data()
fetch_template = {
'breed':rows
} -->
