<link rel="stylesheet" href="/static/dogs.css">

<h1>THE BIGGEST BOYS</h1>
<h1>dogs who think they're puppies but they're actually HUGE</h1>


<h1><img src="{{ url_for('static', filename='akita.gif') }}" height=300 /></h1>
{% for dog in res_list %}
<tr>
  <div align="center"><h1>{{dog[0]}}</h1></div>
</tr>
{% endfor %}
<h1><img src="{{ url_for('static', filename='anatolian_goat.jpg') }}" height=300 /></h1>


<br/><br/><a href='/'>Go home, good boy</a>
<!-- rows = fetch_data()
fetch_template = {
'breed':rows
} -->
